<%- include ("partials/header")-%>


<h1>Compose</h1>
<form class="" action="/compose" method="post" >

    <div class="form-group">
        <label>Title</label>
        <input class = "form-control" type="text" name="newpost" width="100%">
    
    
        <label>post</label>
    
        <textarea class="form-control" name="Text1" cols="80" rows="8" ></textarea>
    
       
        

    </div>
    <button class="btn btn-primary"  type="submit">publish</button>
    
</form>



<%- include ("partials/footer")-%>
